footer {
    background: #242424;
    position: relative;
    height: 352px;
}
footer:before {
    content: "";
    background: url("./../../images/Ellipse.png");
    height: 244px;
    width: 244px;
    position: absolute;
    top: 0px;
    left: 0px;
}
footer:after {
    content: "";
    background: url("./../../images/Ellipse (1).png");
    height: 97px;
    width: 97px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
footer .content {
    padding-top: 50px;
}
footer .table h3 {
    font-family: "Nunito";
    font-weight: 700;
    font-size: 18px;
    color: white;
    margin: 20px 0px;
}
footer .table ul li {
    list-style: none;
}
footer .table ul li a {
    color: white;
    font-size: 12px;
    font-family: "Nunito";
}
footer .send ul li {
    color: white;
    list-style: none;
    font-size: 16px;
}
footer .send p {
    color: white;
    font-size: 16px;
    margin: 20px 0px;
    font-family: "Nunito";
}
footer .send a {
    background: #2970c4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}
footer .send a i {
    align-items: center;
    color: white;
    font-size: 12px;
    transform: rotateZ(-45deg);
}
footer .send div {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    border-radius: 67px;
    width: 100%;
    height: 50px;
}
footer .send div input {
    background: #fff;
    width: 100%;
    border: none;
    outline: none;
    margin-left: 10px;
    font-family: "Nunito";
}
footer .send div input:placeholder {
    background: #fff;
    color: #7a7a7a;
}
footer .send div button {
    border-radius: 50%;
    outline: none;
    border: none;
    background: #2970c3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 40px;
    height: 40px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
footer .send div button i {
    font-size: 16px;
    color: white;
    transform: rotate(-45deg);
}

.bottomFooter {
    height: 57px;
    background: #2f2f2f;
    display: flex;
    align-items: center;
}
.bottomFooter .translate span {
    color: white;
}
.bottomFooter .icon {
    display: flex;
    align-items: center;
}
.bottomFooter .network {
    margin-left: 20px;
}
.bottomFooter .network img {
    margin: 0px 7px;
}
.bottomFooter .copyright {
    color: white;
    align-items: center;
    display: flex;
    font-family: "Nunito";
}
footer .logos-white{
  display: none;
}

@media only screen and (max-width: 480px) {
    footer {
        height: auto;
        padding: 20px 0px;
    }

    .bottomFooter {
        height: auto;
        padding: 20px 0px;
        justify-content: center;
    }
    .bottomFooter .icon {
        display: flex;
        justify-content: center;
    }
    .bottomFooter .copyright {
        padding-top: 25px;
        text-align: center !important;
        display: block;
    }
    footer .logos-white{
      display: block;
      width: 50%;
      margin: 20px auto;
    }
}

/*# sourceMappingURL=footer.css.map */
