body {
    background-color: #f6f8fa;
}

#right-panel {
    margin-left: 280px;
    padding: 15px;
}

.header-left {
    /*width:50% !important;*/
    display: none;
}

.top-left .navbar-brand {
    padding: 0px;
}

.right-panel .navbar-brand {
    width: 160px !important;
}

aside.left-panel {
    max-width: 280px;
}

.right-panel header.header {
    height: 70px !important;
}

.top-left {
    margin-top: 10px;
}

.header-menu {
    margin-top: 5px;
}

.panel-body {
    background-color: white;
    margin-top: 10px;
    box-shadow: 3px 3px #ccc;
    width: 99%;
    float: left;
    font-size: 14px;
}

.table.dataTable {
    margin-top: 20px;
}

.navbar .main-menu {
    margin-top: 40px;
}

.panel-body .title {
    font-size: 25px;
    margin-top: 10px;
    color: #43469d;
}

#editabledatatable_new {
    float: right;
}

.panel-body .text-left a {
    color: black;
}

.DTTTFooter {
    width: 100%;
}

.table .action {
    min-width: 100px;
    text-align: center;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: none;
}

table.dataTable.no-footer {
    border-bottom: none;
}

.dataTables_paginate .pagination li.active a {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.status .fa-check-circle {
    color: #5cb85c;
}

.status .fa-times-circle {
    color: #d9534f;
}

.breadcrumb {
    background-color: white !important;
    width: 99%;
    float: left;
    font-size: 14px;
    line-height: 20px;
    border-radius: 0px !important;
    box-shadow: 2px 2px #ccc;
}

.breadcrumb a {
    color: #337ab7;
}

.DTTT_button_print {
    display: none;
}

.dataTables_filter .form-control, .dataTables_length .form-control {
    height: 34px;
    margin-left: 0px !important;
    margin-right: 10px;
}

.widget .widget-header {
    width: 100%;
}

.widget .widget-header .widget-caption {
    font-size: 16px;
    float: left;
}

.widget .back-button {
    float: right;
}

.widget .widget-body {
    width: 100%;
    float: left;
    margin-top: 20px;
}

.panel-body form{
    padding: 20px;
}

.form-group label{
    text-align: left !important;
}

sup{
    color: red !important;
    margin-left: 5px;
}

.no_pad_left{
    padding-left: 0px;
}

.card-body h2{
    font-size: 18px;
    margin-bottom: 20px;
}

.avatar{
    width: 120px;
}

.avatar img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.error-message{
    color: red;
}

#sort_slide, #price_fix_package, #ratio_memolas_package, #max_price_package{
    width: 20% !important;
}

.subtitle{
    display: none !important;
}

.nav-item{
    padding-left: 10px !important;
}

.nav-item ul{
    margin-left: 40px;
}

.detail-title{
    min-width: 150px;
}

.remove-option{
    text-align: center;
    display: flow-root;
    margin-top: 5px;
}
.label-option{
    margin-top: 5px;
}

.avatar-detail img{
    width: 200px;
}
#category_blog-add-form{
    width: 80%;
}